
.nav {
    background-color: rgb(63,78,79);
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    float: left;
    border-radius: 0 5px 5px 0;
    font-family: "consolas", sans-serif;

}
  
.nav ul {
    list-style-type: none; 
    padding: 0; 
    margin-top: 25px; 
}

.nav a {
    display: block; 
    color: silver; 
    text-decoration: none; 
    padding: 8px 16px; 
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
  
.nav a:hover {
    background-color: rgb(0, 255, 246, 0.6);
    color: rgb(51,51,51); 
}
.content {
    width: 85%;
    float: right;
    font-family: "consolas", sans-serif;
    font-size: 22px;
    color: silver;
}

body{
    background-color: rgb(44, 54, 57);
}
#page-title{
  font-size: 28px;
  font-weight: bold;
  font-family: "consolas", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
.image{
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid rgba(0, 255, 246, 1);
}
.skill-table,
.school-table{
  border-collapse: collapse;
  margin: 50px 0;
  min-width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(0, 255, 246, 0.4);
  margin-left: auto;
  margin-right: auto;
}
.skill-table thead tr,
.school-table thead tr{
  background-color: rgba(0, 255, 246, 0.6);
  color: rgb(51,51,51);
  font-weight: bold;
  text-align: left;
}
.skill-table th,
.skill-table td,
.school-table th,
.school-table td{
  padding: 12px 15px;
}
.skill-table tbody tr,
.school-table tbody tr{
  border-bottom: 1px solid rgb(51,51,51);
}
.skill-table tbody tr:nth-of-type(even),
.school-table tbody tr:nth-of-type(even){
  background-color: rgba(51, 51, 51, 0.2);
}
.skill-table tbody tr:last-of-type,
.school-table tbody tr:last-of-type{
  border-bottom:3px solid rgb(51,51,51);
}
.contact_form{
  background-image:
    linear-gradient(
      45deg,
      rgb(0, 255, 246),
      rgb(0,231,255),
      rgb(0,158,255),
      rgb(0,20,255)
    );
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  box-shadow: 0 0 25px rgba(0, 255, 246, 0.4);
}
.contact_form input,
.contact_form textarea{
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: rgb(238, 241, 255);
  font-weight: bold;
  font-family: "consolas", sans-serif;
  font-size: 18px;
  border-radius: 5px;
}
.contact_form button{
  padding: 15px;
  background-color: rgb(255, 84, 3);
  color: rgb(238, 241, 255);
  font-weight: bold;
  font-family: "consolas", sans-serif;
  font-size: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
  